".source.js":
  "function apply":
    prefix: "apply"
    body: """
    apply(${1:this}, ${2:args})
    """
  "function call":
    prefix: "call"
    body: """
    call(${1:this}, ${2:args})
    """
  "function bind":
    prefix: "bind"
    body: """
    bind(${1:this}, ${2:args})
    """
  "prototype method":
    prefix: "proto"
    body: """
    ${1:Class}.prototype.${2:methodName} = function ${2:methodName}(${3:args}) {
    \t${0}
    };
    """
  "chain prototype method":
    prefix: ".proto"
    body: """
    .prototype.${2:methodName} = function ${2:methodName(${3:args}) {
    \t${0}
    }
    """

  "arrow function with body":
    prefix: "arrow"
    body: """
    (${1:args}) => {
    \t${0}
    }
    """
  "named generator":
    prefix: "generator"
    body: """
    function* ${1:name}(${2:args}) {
    \t${0}
    }
    """
  'anonymous function':
    'prefix': 'af',
    'body': """
    function($1) {
      $2
    }
    """
  'named function':
    'prefix': 'nf',
    'body': """
    function ${1:functionName}($2) {
      $3
    }
    """

  'function expression':
    'prefix': 'fe',
    'body': """
      ${1:let} ${2:functionName} = function ${2:functionName}($3) {
        $4
      };
      """

  'function expression (arrow)':
    'prefix': 'fea',
    'body': """
      ${1:let} ${2:functionName} = ($3) => {
        $4
      };
      """
  'async named function':
    'prefix': 'asyncn',
    'body': """
      async function ${2:functionName}($3) {
        $4
      };
      """
  'async function expression':
    'prefix': 'async',
    'body': """
      ${1:let} ${2:functionName} = async function($3) {
        $4
      };
      """
  'await':
    'prefix': 'await',
    'body': """
      await ${1:functionName}(${3:args})$0
      """

  "immediately-invoked function expression":
    prefix: "iife"
    body: """
    (function(${1:args}) {
    \t${0}
    })(${2});
    """

  "return":
    prefix: "r"
    body: "return $0;"
