".source.js":
  "Object.assign":
    prefix: "assign"
    body: "Object.assign(${1:dest}, ${2:source})"
  "Object.assign +":
    prefix: "Object.assign"
    body: "Object.assign(${1:dest}, ${2:source})"

  "Object.create":
    prefix: "create"
    body: "Object.create(${1:object})"
  "Object.create +":
    prefix: "Object.create"
    body: "Object.create(${1:object})"

  "Object.entries":
    prefix: "entries"
    body: "Object.entries(${1:object})"
  "Object.entries +":
    prefix: "Object.entries"
    body: "Object.keys(${1:object})"

  "Object.keys":
    prefix: "keys"
    body: "Object.keys(${1:object})"
  "Object.keys +":
    prefix: "Object.keys"
    body: "Object.keys(${1:object})"

  "Object.values":
    prefix: "values"
    body: "Object.values(${1:object})"
  "Object.values +":
    prefix: "Object.values"
    body: "Object.values(${1:object})"


  "Object method":
    prefix: "km"
    body: """${1:methodName}: function ${1:methodName}(${2}) {
      $0
    }${3:,}
    """
  "Object method - anonymous":
    prefix: "kf"
    body: """${1:methodName}: function(${2}) {
      $0
    }${3:,}
    """
  "Object arrow method":
    prefix: "ka"
    body: """${1:methodName}: (${2}) => {
      $0
    }${3:,}
    """
